body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;

}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* Bold */
    font-size: 56px;
    letter-spacing: 0.02em;
    /* 2% */
    line-height: 60px;
}

.feature-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* Medium */
    font-size: 20px;
    letter-spacing: 0.02em;
    /* 2% */
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* Medium */
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    /* 4% */
}

.nav-logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-logo span {
    color: #2E2F42;
}

.footer-logo-span {
    color: #F4F4FD;
}

.header,
.nav {    
    /*display: flex;*/    
    list-style: none;    
    margin: 0;
}

.nav-link,
.contact-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* Regular */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: underline;
    font-style: normal;
}

/* Оформлення хедера */
.header {
    background-color: #f8f8f8;
    /* C11: Відповідність кольору макету */    
}

.nav-list,
.contact-list {
    list-style: none;
    /*display: flex;*/    
}

.nav-link {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    /* C12: Вказана вага шрифту */
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
    /* C3: Зміна кольору при ховері та фокусі */
}

.nav-list {
    /*display: flex;*/
    /* justify-content: center; */        
}

.contact-info {
    font-style: normal;
}

.contact-list {
    list-style: none;
    margin: 0;
}

.contact-link {
    color: #434455;
    text-decoration: none;
    margin-right: 15px;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
    /* C4: Зміна кольору при ховері та фокусі */
}

.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus {
    text-decoration: none;
    /* Додати для послідовності */
}

/* Оформлення головного контенту */
.hero-title {
    font-size: 56px;
    /* C9: Розмір шрифту відповідає макету */
    font-weight: 700;
    color: #FFFFFF;
    /* C11: Відповідність кольору */
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.07
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;    
    text-decoration: none;    
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;    
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero {
    background-color: #2E2F42;    
    justify-content: center;
    
    
    text-align: center;
}

/* Оформлення секцій */
.section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize
}

.feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 10px;
}

.team-member-name,
.portfolio-item-title {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    margin-bottom: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.feature-description,
.team-member-role,
.portfolio-item-category {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    text-align: center;    
}

.footer-text {
    line-height: 1.5;
    color: var(--color-variable, #f4f4fd);
    letter-spacing: 0.02em;
}

/* Оформлення зображень */
.team-photo,
.portfolio-photo {    
    margin-bottom: 10px;
}

.team,
.features,
.portfolio {    
    
    justify-content: center;    
}

.team {
    text-align: center;
    background-color: #F4F4FD;    
}

.team-list {
    /*display: flex;*/
    /* Делает список горизонтальным */
    list-style: none;
    /* Убирает маркеры списка */
    
    background-color: #FFFFFF;
}


.features-list {
    /*display: flex;*/
    /* Робить список горизонтальним */
    list-style: none;
    /* Убирає маркери списку */    
}


.portfolio-list {
    /*display: flex;*/
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;    
}

.portfolio-list li {
    border: 1px solid #E0E0E0;    
    /* Фиксированная ширина */    
}
