body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;    
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;

}

.container { 
    max-width: 1158px;
    padding: 0 15px;    
    margin: 0 auto; 
}

img {
    display: block;
}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.07;
    max-width: 496px;
}

.feature-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;    
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    /* 2% */
    margin-bottom: 8px; 
}

.nav-logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 76px
}

.nav-logo span {
    color: #2E2F42;
}

.footer-logo-span {
    color: #F4F4FD;
}

.nav {        
    list-style: none;    
    margin: 0;
    display: flex;
    align-items: center;
}

header > .container {
  display: flex;
}

.nav-link,
.contact-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* Regular */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: underline;
    font-style: normal;
}

/* Оформлення хедера */
.header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e9fc;  
}

.nav-list,
.contact-list {
    list-style: none;
    display: flex;
    gap: 40px;    
}

.nav-link {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;    
    padding: 24px 0
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
    /* C3: Зміна кольору при ховері та фокусі */
}


.contact-info {
    font-style: normal;
    display: flex; 
}

.contact-link {
    color: #434455;
    text-decoration: none;
    margin-right: 15px;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
    /* C4: Зміна кольору при ховері та фокусі */
}

.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus {
    text-decoration: none;
    /* Додати для послідовності */
}


.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;    
    text-decoration: none;    
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;   
    display: block;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero {
    background-color: #2E2F42;    
    justify-content: center;
    text-align: center;
    padding: 188px 0;
}

/* Оформлення секцій */
.section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;    
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px; 
}

.team-member {
    padding: 32px 0;
}
.portfolio-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;     
}

.team-member-name,
.portfolio-item-title {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;    
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;    
}

.feature-description,
.team-member-role,
.portfolio-item-category {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    text-align: center;
}

.footer {
    background-color: #2e2f42;
    text-align: center;
    padding: 100px 0;   
}

.footer-text {
    line-height: 1.5;
    color: var(--color-variable, #f4f4fd);
    letter-spacing: 0.02em;
}

/* Оформлення зображень */
.team-photo,
.portfolio-photo {    
    margin-bottom: 10px;
}

.team,
.features,
.portfolio {        
    justify-content: center;    
    padding: 120px 0;
}

.team {
    text-align: center;
    background-color: #F4F4FD;    
}

.team-list {    
    list-style: none;
    /* Убирает маркеры списка */
    
    background-color: #FFFFFF;
}


.features-list {
    list-style: none;
    /* Убирає маркери списку */
    display: flex;
    gap: 24px;  
}


.portfolio-list {    
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
}

