:root {
    --overlay-text-color: #f4f4fd;
    --checkbox-color: #404bbf;
    --checkbox-fill: #f4f4fd;
}

/* global reset */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding-inline-start: 0;
}

img {
    display: block;
}

/* end global reset */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    margin: -1px;
}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.07;
    max-width: 496px;

    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.feature-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    /* 2% */
    margin-bottom: 8px;
}

.nav-logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}

.footer-logo {
    margin-bottom: 16px;
    text-decoration: none;
}

.nav-logo span {
    color: #2E2F42;
}

.nav-logo {
    text-decoration: none;
    margin-bottom: 0;
}

.footer-logo-span {
    color: #F4F4FD;
}

.nav {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: auto;
}

header>.container {
    display: flex;
    align-items: center;
}

footer>.container {
    display: flex;
    align-items: baseline;
}

.nav-link,
.contact-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* Regular */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: underline;
    font-style: normal;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-list,
.contact-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}



.contact-info {
    font-style: normal;
    display: flex;
}

.contact-link {
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
    /* C4: Зміна кольору при ховері та фокусі */
}

.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus {
    text-decoration: none;
    /* Додати для послідовності */
}


.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    justify-content: center;
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Оформлення секцій */
.section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-member {
    padding: 32px 0;
}

.portfolio-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.team-member-name,
.portfolio-item-title {
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-member-name {
    text-align: center;
}


.feature-description,
.portfolio-item-category {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #434455;

}

.team-member-role {
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    line-height: 1.5;
    color: var(--color-variable, #f4f4fd);
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo-div {
    margin-right: 120px
}

.footer-social {
    margin-right: 80px;
}

/* Оформлення зображень */
.team-photo,
.portfolio-photo {
    width: 100%;
}

.team,
.features,
.portfolio {
    justify-content: center;
    padding: 120px 0;
}

.team {
    text-align: center;
    background-color: #F4F4FD;
}

.team-list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.features-list-item {
    flex-basis: calc((100% - 3*24px) / 4);
}

.team-list-item {
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--overlay-text-color);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-list {
    list-style: none;
    display: flex;
    gap: 24px;
}


.portfolio-list {
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

.social-link-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-text,
.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #31d0aa;
}

.social-list-icon {
    fill: #f4f4fd;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;;
    /* background: rgba(255, 255, 255, 1); */
}

.subscribe-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    /*для вирівнювання контенту по горизонталі*/
    align-items: center;
    /*для вирівнювання контенту по вертикалі*/
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    /*padding: 8px 24px;*/
}

.subscribe-form-btn-svg {
    margin-left: 16px;
    fill: white;
}


/* ============================================================= */
/* керування выдображенням модалки */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.modal:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

/* ============================================================= */

/* div - модальне вікно*/
.modal-div {
    position: absolute;
    /*Абсолютно позиціонуємо елемент відносно предка.*/
    top: 50%;
    left: 50%;
    /*Задаємо елементу властивості top і left
    зі значенням 50%, щоб розташувати
    верхній лівий кут елемента рівно по центру предка.*/
    transform: translate(-50%, -50%) scale(1);
    /*Задаємо елементу негативне зміщення (translate)
    по 50% висоти і ширини. Це змістить елемент
    вгору і вліво і відцентрує всередині предка.*/
    width: 408px;
    /*see Figma - Modal bg*/
    min-height: 584px;
    /*see Figma - Modal bg*/
    background: #fcfcfc;
    /*see Figma - Modal bg*/
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    /*see Figma - Modal bg*/
    border-radius: 4px;
    /*see Figma - Modal bg*/
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

/* кнопка Х - закрити вікно*/
.modal-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    /*для вирівнювання дочірнього елемента по вертикалі*/
    justify-content: center;
    /*для вирівнювання дочірнього елемента по горизонталі*/
    background-color: #e7e9fc;
    /*колір фону кнопки*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    /*колір і тд межі навколо елемента*/
    padding: 0;
    cursor: pointer;
    /*визначення стилю курсору*/
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*анімаційний ефект для зміни значень властивостей стилю*/
}

.modal-button-close:hover,
.modal-button-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:focus .modal-button-close-svg,
.modal-button-close:hover .modal-button-close-svg {
    fill: #ffffff;
}

.modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form-div {
    margin-bottom: 8px;
}

.modal-form-div-l,
.modal-form-div-phone,
.modal-form-div-email {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

/*.modal-form-div-phone,
.modal-form-div-email*/
.modal-form-div-pers {
    position: relative;
}

.input-elem {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-elem:focus {
    border-color: #4D5AE5;
}

.input-elem:focus+.modal-form-div-svg {
    fill: #4D5AE5;
}

.svg-checkbox {
    /* fill */
}

.modal-form-div-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* fill: #4D5AE5; */
}


/* svg {} */

.modal-form-div-comment {
    margin-bottom: 16px;
}

.modal-form-comment-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment-textarea:focus {
    border-color: #4D5AE5;
}

.modal-form-checkbox {
    margin-bottom: 24px;
}

.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

/*квадрат для I accept  - під коментарем*/
.label-checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-checkbox:checked + .label-checkbox .label-checkbox-span {
    background-color: var(--checkbox-color);
    border: none;
    fill: var(--checkbox-fill);
}

.label-checkbox-a {
    color: #4d5ae5;
}

.modal-form-btn-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
